body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #050505;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: rgba(0,0,0,0.8);
}

header h1 {
    color: #a855f7;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #a855f7;
}

.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h2 {
    font-size: 50px;
    background: linear-gradient(90deg, #a855f7, #7c3aed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn {
    background: linear-gradient(90deg, #a855f7, #7c3aed);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #111;
    padding: 25px;
    margin: 15px;
    border-radius: 12px;
    width: 280px;
}

footer {
    text-align: center;
    padding: 30px;
    background: #111;
    margin-top: 50px;
}

.about {
    max-width: 800px;
    margin: 60px auto;
    text-align: center;
    line-height: 1.6;
}

.card .btn {
    margin-top: 10px;
    display: inline-block;
}

section {
    max-width: 800px;
    margin: 60px auto;
    padding: 20px;
    text-align: left;
    line-height: 1.7;
}
